<!-- Sidebar -->
<section id="sidebar">
  <div class="inner">
    <nav>
      <ul>
        <li><a href="#intro">Accueil</a></li>
        <li><a href="#one">Compétences</a></li>
        <li><a href="#two">Prestations</a></li>
        <li><a href="#three">Contact</a></li>
      </ul>
    </nav>
  </div>
</section>

<!-- Wrapper -->
<div id="wrapper">

  <!-- Intro -->
  <section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
      <h1><b>Code</b>Kraft</h1>
      <p>Votre partenaire technique pour tous vos projets digitaux<br />
      </p>
      <ul class="actions">
        <li><a href="#one" class="button scrolly">En savoir plus</a></li>
      </ul>
    </div>
  </section>

  <!-- One -->
  <section id="one" class="wrapper style2 spotlights">
    <section>
      <a href="#" class="image"><img src="<%= image_url("pic01.jpg") %>" alt="" data-position="center center" /></a>
      <div class="content">
        <div class="inner">
          <h2>Code addict</h2>
          <p>Ce qui définit un bon développeur est avant tout la passion. CodeKraft soutient vos développements en alliant passion et expérience de plus de 15 ans de code. </p>
          <ul class="actions">
            <li><a href="#" class="button">En savoir plus</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section>

      <a href="#" class="image"><img src="<%= image_url("pic02.jpg") %>" alt="" data-position="top center" /></a>
      <div class="content">
        <div class="inner">
          <h2>Architecte logiciel</h2>
          <p>Vous construiriez une maison sans des fondations solides ? CodeKraft définit avec vous l'architecture logicielle idéale en soutenant deux objectifs : ne pas perdre de temps pour le lancement, assurer à votre outil de pouvoir grandir sans tout reconstruire. </p>
          <ul class="actions">
            <li><a href="#" class="button">En savoir plus</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <a href="#" class="image"><img src="<%= image_url("pic03.jpg") %>" alt="" data-position="25% 25%" /></a>
      <div class="content">
        <div class="inner">
          <h2>Directeur technique</h2>
          <p>Une plateforme qui grandit c'est souvent une équipe qui grandit et des prestations externes qu'il faut savoir gérer. CodeKraft vous accompagne dans la construction de votre équipe et dans vos choix techniques stratégiques.</p>
          <ul class="actions">
            <li><a href="#" class="button">En savoir plus</a></li>
          </ul>
        </div>
      </div>
    </section>
  </section>

  <!-- Two -->
  <section id="two" class="wrapper style3 fade-up">
    <div class="inner">
      <h2>Ce qui est fait pour vous</h2>
      <p></p>
      <div class="features">
        <section>
          <span class="icon major fa-code"></span>
          <h3>Développement de A à Z</h3>
          <p>Chacun son métier : vous avez l'idée, CodeKraft la rend réelle. Analyse, prototype, développements, mise en production, maintenance : CodeKraft vous accompagne à toutes les étapes.</p>
        </section>
        <section>
          <span class="icon major fa-lock"></span>
          <h3>Audit et accompagnement</h3>
          <p>Votre projet est lancé</p>
        </section>
        <section>
          <span class="icon major fa-cog"></span>
          <h3>Défis techniques</h3>
          <p>Un challenge technique à surmonter ? Le recul n'est pas toujours facile à trouver lorsqu'on est au quotidien dans son applicatif. CodeKraft vous aide à prendre ce recul et à répondre aux défis du moment en alliant efficacité et qualité des livrables.</p>
        </section>
        <section>
          <span class="icon major fa-desktop"></span>
          <h3>Management & outillage</h3>
          <p>Profitez de l'expérience de CodeKraft pour mieux comprendre vos équipes techniques, les accompagner au mieux avec les bons outils et parfois rétablir la communication.</p>
        </section>
        <section>
          <span class="icon major fa-chain"></span>
          <h3>Soyons agiles !</h3>
          <p></p>
        </section>
        <section>
          <span class="icon major fa-diamond"></span>
          <h3>Technologies</h3>
          <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
        </section>
      </div>
      <ul class="actions">
        <li><a href="#" class="button">Learn more</a></li>
      </ul>
    </div>
  </section>

  <!-- Three -->
  <section id="three" class="wrapper style1 fade-up">
    <div class="inner">
    <h2>Contact</h2>
    <p></p>
    <div class="split style1">
      <section>
        <form method="post" action="#">
          <div class="field half first">
            <label for="name">Nom</label>
            <input type="text" name="name" id="name" />
          </div>
          <div class="field half">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
          </div>
          <div class="field">
            <label for="message">Votre message</label>
            <textarea name="message" id="message" rows="5"></textarea>
          </div>
          <ul class="actions">
            <li><a href="" class="button submit">Envoyer</a></li>
          </ul>
        </form>
      </section>
      <section>
        <ul class="contact">
          <li>
            <h3>Addresse</h3>
            <span>25, rue lenepveu<br />
              49100 ANGERS
            </span>
          </li>
          <li>
            <h3>Email</h3>
            <a href="#">contact@codekraft.com</a>
          </li>
          <li>
            <h3>Phone</h3>
            <span>(000) 000-0000</span>
          </li>
          <li>
            <h3>Social</h3>
            <ul class="icons">
              <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
              <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
            </ul>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>

</div>

<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
<div class="inner" style="text-align: right">
<ul class="menu">
<li>&copy; CodeKraft. Tous droits réservés.</li></li>
</ul>
</div>
</footer>

