.technos-section h4 {
  margin-top: 40px;
}

.technos-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.techno-box i {
  font-size: 2.5rem;
  transition: font-size 0.5s ease;
}

.techno-box:hover i {
  //font-size: 2rem;
}

.techno-box {
  padding: 5px 10px 5px 5px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: color 0.5s ease;
}

.techno-box:hover {
  color: white;
}

.techno-box span {
  text-align: center;
  font-size: .5rem;
  margin-top: 3px;
  //opacity: 0;
}

.techno-box:hover span {
  opacity: 1;
  transition: opacity 0.5s ease;
}
